{{!-- NAVIGATION --}}
<header class="row justify-content-center">
    {{!-- Empty Col --}}
    <div class="col-2"></div>
    {{!-- Application Title Header Col --}}
    <div class="col-8">
        <h1 id="app-name">
            <a id="app-link" href="/">Extra! Extra!</a>
        </h1>
    </div>
    {{!-- Application API Links Col --}}
    <div class="col-2 align-self-end">
        <h1 id="api-name">
            <a id="api-link" href="/api/burgers">Burgers API</a>
        </h1>
    </div>
</header>
{{!-- NAVIGATION END --}}

{{!-- ARTICLES --}}
<main id="main-bkgrnd">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col jumbotron">
                <h3>Available Burgers</h3>
                <hr class="my-4">

            </div>
            <div class="col jumbotron">
                <h3>Devoured Favorites</h3>
                <hr class="my-4">
                <ul>

                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col jumbotron">
                <h2>Name Your Burger</h2>
                <hr class="my-4">
                <form class="create-form">
                    <div class="form-group">
                        <input type="text" id="new-burger" name="burgerName" placeholder="Name Your Burger">
                    </div>
                    <button type="submit">Add Burger</button>
                </form>
            </div>
        </div>
    </div>
</main>
{{!-- ARTICLES END --}}

{{!-- FOOTER --}}
<footer>

</footer>
{{!-- FOOTER END --}}
